httpx
pystyle
socks
pysocks
requests
icmplib
dnspython
cloudscraper
colorama
shutup
undetected_chromedriver
psutil
flask
wget
anyio>=4.4.0 # not directly required, pinned by Snyk to avoid a vulnerability
urllib3>=2.2.2 # not directly required, pinned by Snyk to avoid a vulnerability
zipp>=3.19.1 # not directly required, pinned by Snyk to avoid a vulnerability
