httpx
pystyle
socks
pysocks
requests
icmplib
dnspython
cloudscraper
colorama
shutup
undetected_chromedriver
psutil
flask
wget
urllib3>=2.2.2 # not directly required, pinned by Snyk to avoid a vulnerability
