httpx
pystyle
socks
pysocks
requests
icmplib
dnspython
cloudscraper
colorama
shutup
undetected_chromedriver
psutil
flask
wget
zipp>=3.19.1 # not directly required, pinned by Snyk to avoid a vulnerability
